.u-block-609a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-609a-3 {
  position: absolute;
  left: 0;
}

.u-block-609a-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/imagen1.jfif");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-image-1 {
  width: 667px;
  height: 620px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-image-1 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 502px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 316px;
  }
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-image-1 {
  width: 667px;
  height: 688px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-image-1 {
    height: 689px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-image-1 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-image-1 {
    width: 540px;
    height: 558px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 351px;
  }
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-4 .u-image-1 {
  width: 719px;
  height: 620px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-4 .u-image-1 {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-4 .u-image-1 {
    width: 540px;
    height: 466px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-4 .u-image-1 {
    width: 340px;
    height: 293px;
  }
}

.u-section-1-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-5 .u-image-1 {
  width: 819px;
  height: 620px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-5 .u-image-1 {
    margin-right: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-5 .u-image-1 {
    width: 720px;
    height: 545px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-5 .u-image-1 {
    width: 540px;
    height: 409px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-5 .u-image-1 {
    width: 340px;
    height: 258px;
  }
}

.u-section-1-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-6 .u-image-1 {
  width: 667px;
  height: 667px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-6 .u-image-1 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-6 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}

.u-section-1-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-7 .u-image-1 {
  width: 667px;
  height: 667px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-7 .u-image-1 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-7 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}

.u-section-1-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-8 .u-image-1 {
  width: 667px;
  height: 667px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-8 .u-image-1 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-8 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-8 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}

.u-section-1-9 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-9 .u-image-1 {
  width: 667px;
  height: 667px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-9 .u-image-1 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-9 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-9 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}

.u-section-1-10 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-10 .u-image-1 {
  width: 880px;
  height: 879px;
  margin: 60px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-10 .u-image-1 {
    height: 878px;
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-10 .u-image-1 {
    width: 720px;
    height: 718px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-10 .u-image-1 {
    width: 540px;
    height: 539px;
  }
}

@media (max-width: 575px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-10 .u-image-1 {
    width: 340px;
    height: 339px;
  }
}